@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bitcount+Grid+Double:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&family=Sekuya&display=swap");
body {
  background-color: rgb(15, 14, 14);
  color: white;
  margin: 0;
  padding: 0;
}
/* MAIN CONTAINER */
.main-container {
  max-width: 100%;
  width: 95%;
  padding: 0;
  margin: 10px auto;
}
/* NAV BAR */
.nav-bar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 100px;

  margin-left: 0px;
}
/* NAV HEADER */
.nav-header {
  padding: 0;
  margin: 0;
  padding-left: 0px;
  margin-left: 0px;
}
/* NAV LINKS */
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;

  /* padding-left: 20px; */
  /* justify-content: space-between; */
}
/* ICONS */
.icons {
  display: flex;
  gap: 10px;
}
@media (max-width: 720px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
  }
  .icons {
    margin-left: auto;
    gap: 10px;
  }
  .nav-links {
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    margin-right: auto;
    display: none;
  }

  .nav-header {
    display: grid;
    align-self: self-start;
  }
}
/* HERO */
.hero {
  display: flex;
  background-image: url("asserts/images/hero image 2.jpg");
  margin-left: 0px;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* HERO TEXT */
.hero-text {
  padding-left: 0px;
  margin-left: 0px;
  /* margin-left: 40px; */
}
/* HERO IMAGE */
.hero-image {
  width: 200px;
  height: 250px;
  /* margin-left: auto; */
  border: none;
  border-radius: 30px;
}
.hero-text-h1 {
  width: 300px;
  margin-bottom: 50px;
}
/* HERO BUTTON */
.hero-button {
  border: none;
  border-radius: 50px;
  background-color: rgb(17, 199, 66);

  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.hero-button:hover {
  background-color: aqua;
}
.hero-button:active {
  background-color: blue;
  color: white;
}
@media (max-width: 720px) {
  .hero {
    display: grid;
  }
  .hero-imagee {
    order: 2;
    align-self: flex-start;
    padding-left: 10px;
  }

  .hero-image img {
    max-width: 100%;

    align-self: start;
  }
  .hero-image-button {
    border: none;
    border-radius: 50px;
    background-color: rgb(50, 132, 57);
    color: whitesmoke;
    /* padding: 10px 20px; */
    cursor: pointer;
    margin-top: 20px;
  }
}
/* MY LOGOS */
/* LOGOS CONTAINER */
.my-logos {
  margin-left: 0px;
}

.my-logos p {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Seyka", sans-serif;
  padding: 5px;
}
/* LOGOS */
.logos {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.logos img {
  width: 50px;
  padding: 5px;
  margin: 5px;
}
/* CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* width: 80%; */
  gap: 20px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 100px;
  overflow: hidden;
}
@media (max-width: 720px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/* CARD 1 */
.card-1 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  border: 2px solid rgb(0, 255, 64);
}
.card-1 h1 {
  font-family: "Seyka", sans-serif;
  padding: 10px;
  margin-bottom: 50pxs;
}
/* CARD 1 BUTTON */
.card-1 button {
  background-color: rgb(17, 199, 66);
  border: none;
  border-radius: 50px;
  padding: 7px;
  color: rgb(0, 0, 0);
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-1 button:hover {
  background-color: aqua;
}
.card-1 button:active {
  background-color: blue;
  color: white;
}
/* CARD 2 */
.card-2 {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  border-radius: 10px;
  border: 2px solid rgb(0, 255, 64);
}

/* ICON */
.icon {
  margin-left: 20px;
  margin-top: 40px;
}
.icon svg {
  width: 40px;
  height: 40px;
}
.card-2-text {
  padding: 20px;
  flex: 1;
  margin-top: 10px;
}
.card-2-text h3,
h4 {
  text-transform: uppercase;
  font-family: "Seyka", sans-serif;
  padding-left: 5px;
}
.card-2-text p {
  padding-left: 5px;
}
.card-3 {
  border-radius: 10px;
  border: 10px;
  border: 2px solid rgb(0, 255, 64);
}
.card-4 {
  border-radius: 10px;
  border: 10px;
  border: 2px solid rgb(0, 255, 64);
}
/* SECTION 2 */
/* MAIN CONTAINER-2 */
.main-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-left: 20px;
  background-image: url("asserts/images/hero image 2.jpg");
  margin-bottom: 100px;
}
@media (max-width: 720px) {
  .main-container-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-left: 20px;
  }
}

/* SECTION 1 */
.section-1 {
  border: none;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.section-1 h1 {
  margin-left: 10px;
  width: 250px;
  margin-bottom: 50px;
  font-family: "Seyka", sans-serif;
}
/* SECTION 2 BUTTON */
.section-1 button {
  background-color: rgb(17, 199, 66);
  border: none;
  border-radius: 50px;
  padding: 7px;
  color: rgb(0, 0, 0);
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.section-1 button:hover {
  background-color: aqua;
}
.section-1 button:active {
  background-color: blue;
  color: white;
}
/* SECTION 2 */
.section-2 {
  display: flex;
  border: 2px solid blue;

  max-width: 100%;
  flex-wrap: wrap;
}
/* NAV-BAR-2 */
.nav-bar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 10px;
  display: none;
}
/* NAV LINKS-2 */

.nav-links-2 {
  display: flex;
  list-style: none;

  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}
/* NAN-LINKS-2 BUTTON */
.nav-links-2 button {
  background-color: rgb(211, 218, 213);
  border: none;
  border-radius: 50px;
  padding: 7px;
  color: black;
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
/* SECTION-2-TEXT */
.section-2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-2-text h3 {
  margin-top: 20px;
}
.section-2-text p {
  margin-top: 20px;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 30px;
}
/* SECTION 2 VIDEO */
.web-video {
  display: flex;
  justify-content: center;
}

.web-video video {
  width: 100%;
  max-width: 400px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}
/* SECTION 3 */
.section-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 50px;
}
@media (max-width: 720px) {
  .section-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    padding: 10px;
  }
}

.icons {
  padding: 10px;
}
svg {
  width: 60px;
  height: 60px;
}
.content-h3 {
  padding: 10px 5px;
  margin: 5px;
  font-family: "Seyka", sans-serif;
}
.content-p {
  padding: 10px 5px;
  margin: 5px;
}
/* SECTION 4 */
/* WORKERS CONTAINER */
.workers-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 220px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-image: url("asserts/images/hero image 2.jpg");
}
@media (max-width: 720px) {
  .workers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: 220px;
  }
}

.workers-container div:first-child {
  grid-column: span 2;
}
.first-child h2 {
  width: 200px;
  line-height: 30px;
  margin-left: 10px;
  font-family: "Seyka", sans-serif;
}
/* WORKERS CONTAINER BUTTON */
.workers-container-button {
  background-color: rgb(17, 199, 66);
  border: none;
  border-radius: 50px;
  padding: 7px;
  color: rgb(0, 0, 0);
  width: 150px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.workers-container-button:hover {
  background-color: aqua;
}
.workers-container-button:active {
  background-color: blue;
  color: white;
}
/* WORKERS IMAGES */
.worker-image {
  /* width: 100%; */
  /* height: 100%; */
  width: 150px;
  height: 180px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
  display: block;
  margin-left: 5px;
  margin-top: 10px;
  padding: 5px;
}
