body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
/* MAIN CONTAINER */
.main-container {
  max-width: 100%;
  width: 95%;
  padding: 20px;
  /* max-resolution: auto; */
}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 10%; */
  margin: 0;
  padding-bottom: 0px;
  margin-bottom: 40px;
}
/* NAV HEADER */
.nav-header {
  margin: 0;
  margin-bottom: 90px;
  margin-left: 50px;
  margin-top: 5px;
}
/* NAV LINKS */
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* margin-bottom: 90px; */
  gap: 20px;
  /* background-color: blue; */
  margin-bottom: 80px;
  margin-top: 5px;
}
.hero {
  background-image: url(" asserts/images/hero image 2.jpg  ");
}
